services:
  caddy:
    container_name: caddy
    image: docker.io/library/caddy:2-alpine
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy-data:/data:rw
      - caddy-config:/config:rw
    environment:
      - SEARXNG_HOSTNAME=${SEARXNG_HOSTNAME:-http://localhost}
      - SEARXNG_TLS=${LETSENCRYPT_EMAIL:-internal}

  valkey:
    container_name: valkey
    image: docker.io/valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    networks:
      - searxng
    volumes:
      - valkey-data2:/data

  searxng:
    network_mode: "service:gluetun"
    container_name: searxng
    image: docker.io/searxng/searxng:latest
    restart: unless-stopped
    volumes:
      - ./searxng:/etc/searxng
      - ./simple-custom-fork:/usr/local/searxng/searx/static/themes/simple
      - searxng-data:/var/cache/searxng:rw
    environment:
      - SEARXNG_BASE_URL=https://${SEARXNG_HOSTNAME:-localhost}/
      - SEARXNG_SECRET=$SEARXNG_SECRET
    # this currently doesn't work for some reason?
    # see https://www.reddit.com/r/docker/comments/1qz22a5/almost_pulling_my_hair_out_trying_to_figure_out/
    # https://forums.docker.com/t/almost-pulling-my-hair-out-trying-to-figure-out-docker-watch/151061/3
    # develop:
    #   watch:
    #     - action: sync+restart
    #       path: ./searxng
    #       target: /etc/searxng
    #       initial_sync: true
    #     - action: sync+restart 
    #       path: ./simple-custom-fork
    #       target: /usr/local/searxng/searx/static/themes/simple
    #       initial_sync: true
    #     - action: restart
    #       path: ./docker-compose.yaml

  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8080:8080/tcp # HTTP proxy
    volumes:
      - /gluetun:/gluetun
    environment:
      # See https://github.com/qdm12/gluetun-wiki/tree/main/setup#setup
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      # Wireguard:
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      # - TZ=
      # Server list updater
      # See https://github.com/qdm12/gluetun-wiki/blob/main/setup/servers.md#update-the-vpn-servers-list
      - UPDATER_PERIOD=24h
      - FREE_ONLY=on

networks:
  searxng:

volumes:
  caddy-data:
  caddy-config:
  valkey-data2:
  searxng-data:
